.modal-dialog {
	width: 60%;
	max-height: 70%;
	margin-left: 20%;
}

.modal-title {
	color: #8A8A8A;
	font-size: 30px;
}

#branches {
	font-size: 14px;
	padding: 1%;
	width: 35%;
}

#treeTitle {
	font-size: 20px;
}

.step {
	font-size: 20px;
}

.downloadButton {
	padding: 2%;
	margin-left: 10%;
	width: 35%;
	margin-bottom: 20px;
}

#url, #passwordToRepo {
	padding: 1%;
	margin-left: 15%;
}

.error{
	margin-left: 15%;
}

#url {
	width: 70%;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	width: 75%;
	height: 67px;
	text-align: right;
	filter: alpha(opacity = 0);
	opacity: 0;
	background: red;
	cursor: inherit;
	display: block;
}

.btn-file{
	margin-left: 10%;
	width: 80%;
	padding-top: 2%;
	padding-bottom: 2%;
	text-align: center;
}

#upload{
	margin-left: 90%;
	padding: 2%;
}

#passwordToRepo {
	width: 30%;
}

#clone {
	margin-left: 1%;
	padding-left: 2%;
	padding-right: 2%;
}

.error {
	color: red;
	text-align: center;
}

#passDiv {
	margin-top: 10px;
}

li {
	display: block;
}

li a, li label {
	font-size: 14px;
}

input[type=checkbox] {
	margin-right: 5px;
	margin-top: -4px;
	width: 20px;
	height: 20px;
}

.tree {
	width: 96%
}

#reviewName {
	margin-top: 10px;
	padding: 1%;
	margin-left: 15%;
	width: 70%;
}

.chosen-container, .chosen-single, .chosen-container-single {
	margin-top: 8px;
}

.chosen-drop{
	padding: 1%;
	width: 20%;
}
#groupsDiv {
	margin-left: 15%;
}

#groups{
	margin-left: 10px;
	width: 25%;
}

#userSelect {
	padding: 5%;
	width: 70%;
}

#createReview, #saveChanges {
	margin-left: 80%;
	padding: 2%;
	margin-top: 15px;
	margin-bottom: 15px;
}

.reviewSucces {
	color: green;
}

.reviewError {
	color: red;
}