div.panel:first-child {
	margin-top: 20px;
}

div.treeview {
	min-width: 100px;
	min-height: 100px;
	max-height: 256px;
	overflow: auto;
	padding: 4px;
	margin-bottom: 20px;
	color: #369;
	border: solid 1px;
	border-radius: 4px;
}

div.treeview ul:first-child:before {
	display: none;
}

.treeview, .treeview ul {
	margin: 0;
	padding: 0;
	list-style: none;
	color: #369;
}

.treeview ul {
	margin-left: 1em;
	position: relative
}

.treeview ul ul {
	margin-left: .50em
}

.treeview ul:before {
	content: "";
	display: block;
	width: 0;
	position: absolute;
	top: 0;
	left: 0;
	border-left: 1px solid;
	/* creates a more theme-ready standard for the bootstrap themes */
	bottom: 15px;
	position: absolute;
}

.treeview li {
	margin: 0;
	padding: 0 1em;
	line-height: 2em;
	font-weight: 700;
	position: relative
}

.treeview ul li:before {
	content: "";
	display: block;
	width: 12px;
	height: 0;
	border-top: 1px solid;
	margin-top: -1px;
	position: absolute;
	top: 1em;
	left: 0
}

.tree-indicator {
	margin-right: 5px;
	margin-left: 5px;
	cursor: pointer;
}

.treeview li a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

.treeview li button, .treeview li button:active, .treeview li button:focus
	{
	text-decoration: none;
	color: inherit;
	border: none;
	background: transparent;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	outline: 0;
}







.treeview ul li {
    margin-right: -10px;
}

.treeview ul li a:hover {
    text-decoration: underline;
}

.treeview ul:before {
    border-left: 1px solid #BCBCBC;
}

.treeview ul li:before {
    border-top: 1px solid #BCBCBC;
}

.treeview i.tree-indicator {
    color: #BD9662;
    width: 22px;
    font-size: 20px;
}

.treeview li a {
    color: black;
    font-weight: 100;
}

.treeview li label {
	margin-left: 10px;
    color: black;
    font-weight: 100;
}

.treeview ul li a:hover {
    text-decoration: none;
}

.treeview .tree-indicator {
    margin-left: 0;
}

.treeview ul li {
    padding-left: 20px;
}





.folder {
	margin-right: 10px;
}

.tree {
	width: 200%;
}

.tree2 {
	width: 110%;
}