* {
	margin: 0;
	padding: 0;
}

body::-webkit-scrollbar-thumb, #code_panel::-webkit-scrollbar-thumb {
    border-radius: 12px;
    border: 2px solid rgba(255,255,255,0);
    background-clip: content-box;
    background-color: #9D9D9D;
}
body::-webkit-scrollbar-corner, #code_panel::-webkit-scrollbar-corner {
    background-color: #fff;
}
body::-webkit-scrollbar, #code_panel::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 12px;
    background-color: #fff;
}

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
    background-color: #9D9D9D;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

body {
	font-family: 'Lato', sans-serif;
	background: #fafafa;
	box-sizing: border-box;
}

header {
	width: 100%;
	height: 65px;
	background: #212121;
	color: white;
}

.logo a {
	padding: 0;
}

.logo a:hover {
	color: white;
}

.logo a:visited {
	color: white;
}

.cabinet-icon {
	float: left;
	margin-right: 35px;
}

.cabinet-icon img {
	width: 25px;
}

.logo {
	float: left;
	margin-left: 45px;
}

.logo .logo-text {
    font-size: 24px;
    margin-bottom: 15px;
    color:white;
}

header img {
	width: 50px;
	float: left;
	margin-right: 6px;
    margin-top: 7px;
}

header p {
	float: left;
	margin-top: 15px;
	font-size: 20px;
}

header span {
	color: #6dd7e0;
}

.rightHeader {
	float: right;
	margin-right: 50px;
	margin-top: 11px;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover, a:visited {
	color: inherit;
}

header a {
	margin: 0 3px;
	padding: 10px 13px;
	display: block;
	float: left;
	text-decoration: underline;
}

header a.sign_ {
	background: #54b1b9;
	color: white;
	border-radius: 15px;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
}

#footer1 {
	padding-top: 20px;
	float: left;
	display: block;
	width: 100%;
	color: #a3a3a3;
	background: #efefef;
	border-top: 1px solid #c7c7c7;
}

#footer1 a {
	color: #8e8e8e;
	text-decoration: none;
}

.leftFooter {
	float: left;
	margin-left: 100px;
	width: 600px;
	margin-top: 20px;
	margin-bottom: 20px;
	line-height: 30px;
	border-right: 1px solid #aaadaf;
}

.firstBlock {
	float: left;
	width: 200px;
	margin-right: 20px;
}

.secondBlock {
	float: left;
}

.rightFooter {
	float: left;
	width: 500px;
}

.rights {
	float: left;
	width: 100%;
	margin-top: 10px;
	font-size: 14px;
}

#footer1 h4 {
	font-size: 17px;
	font-weight: bold;
	text-decoration: underline;
	color: #676767;
}

#footer1 img {
    padding-top: 26px;
    padding-left: 3px;
    padding-right: 3px;
    width: 35px;
    float: left;
}

#footer1 span {
	font-size: 20px;
	float: left;
	margin-top: 30px;
}

.logoDiv {
	width: 100%;
	float: left;
	padding-left: 50px;
}

.rightFooter p {
	float: left;
	margin-left: 50px;
	font-size: 20px;
	font-weight: 300;
	padding-top: 20px;
	width: 500px;
}

.btn {
	background: #54b1b9;
	color: white;
	border: 0;
}

.btn:hover {
	background: #54b1b9;
}

#language {
	margin-left: 50px;
}

#language span {
	text-decoration: underline;
	cursor: pointer;
	font-size: 14px;
	padding-left: 5px;
}

.circle-image {
	border-radius: 50%;
	display: block;
	background-position-y: 25%;
}

.thumbnail {
	position: relative;
	width: 50px;
	height: 50px;
	overflow: hidden;
}

.thumbnail img {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 100%;
	width: auto;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.thumbnail img.portrait {
	width: 100%;
	height: auto;
}

.z-depth-1 {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0
		rgba(0, 0, 0, 0.12);
}

.z-depth-2 {
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

.z-depth-3 {
	box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0
		rgba(0, 0, 0, 0.19);
}

.z-depth-4 {
	box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0
		rgba(0, 0, 0, 0.21);
}

.z-depth-5, .modal-content {
	box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0
		rgba(0, 0, 0, 0.22);
}

.modal-content {
	border-radius: 4px;
}

.badge1 {
	position: relative;
}

.badge1[data-badge]:after {
	content: attr(data-badge);
	position: absolute;
	top: -10px;
	right: -10px;
	font-size: .5em;
	background: #4caf50;
	color: white;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 18px;
	border-radius: 50%;
	box-shadow: 0 0 1px #333;
}

#notificationsBtn.badge1:after {
	content: attr(data-badge);
	position: absolute;
	top: -1px;
	right: 70px;
	font-size: 12px;
	background: #4caf50;
	color: white;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 18px;
	border-radius: 50%;
	box-shadow: 0 0 1px #333;
	text-indent: 0px;
}

.pull-bottom {
	position: relative;
	bottom: 5px;
}