.fixed {
	position: fixed;
	top: 220px;
	right: 3%;
}

.draggable:hover {
	color: red;
	background-color: transparent;
	text-decoration: underline;
}

.file{
	background-color: #06e322;
}