
/*
    Note: It is best to use a less version of this file ( see http://css2less.cc
    For the media queries use @screen-sm-min instead of 768px.
    For .onl_spanOr use @body-bg instead of white.
*/
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web&subset=latin,latin-ext);
@media (min-width: 768px) {
    .onl_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}
body {
    font-family: 'Titillium Web', sans-serif; 
}
.onl_login .onl_authTitle {
    text-align: center;
	line-height: 300%;
}
	
.onl_login .onl_socialButtons a {
	color: white; // In yourUse @body-bg 
	opacity:0.9;
}
.onl_login .onl_socialButtons a:hover {
    color: white;
	opacity:1;    	
}

.onl_login .onl_socialButtons .onl_btn-google-plus {background: #c32f10;border-color:#6b1301}
.onl_login .onl_socialButtons .onl_btn-github {background: #666666;border-color:#333333}
.onl_login .onl_socialButtons .onl_btn-gitbucket {background: #CED8E3;border-color:#CED8E3}
.fa-bitbucket{
	color:#205081;
}
