@import url(http://weloveiconfonts.com/api/?family=brandico|entypo|openwebicons|zocial);
* {
	margin: 0;
	padding: 0;
}



#back {
     /*margin-top: 50px;*/
     margin-left: 50px;
     margin-right: 50px;
     /*background-image: url('../../images/bg_img.jpg');*/
     /*height: 200px;*/
     /*background-position: center;*/
 }

#social-login {
	margin-top: 20px;
	color: black;
	font-weight: 300;
	font-size: 22px;
	padding-bottom: 20px;
}

.mainBlock {
	width: 100%;
    height: 100%;
    background: #F2F2F2;
	background-position: center;
}

.mainBlock h1 {
	margin-top: 100px;
    color: #666666;
	font-weight: 300;
	font-size: 30px;
}

.mainBlock p {
	color: white;
}

.mainBlock p, .mainBlock h1, .mainBlock div {
	text-align: center;
	font-weight: 500;
}

.mainBlock form {
	width: 650px;
	margin: 0px auto;
	margin-top: 40px;
}

/* .logo a, .logo a:visited{ */
/* 	margin-left: 70px; */
/* } */

#howitworks {
	display: block;
	width: 990px;
	margin: 30px auto;
}

#howitworks h1 {
	margin-bottom: 50px;
	text-align: center;
	color: #434343;
	font-weight: normal;
	font-size: 33px;
	font-weight: 300;
}





.animation img {
	display: block;
	margin: auto;
	position: relative;
}

#cloud {
	margin-top: 15px;
	z-index: 2;
}

#file {
	margin-top: -64px;
	z-index: 1;
}

#box {
	margin-top: 150px;
	z-index: 2;
}

.form-control {
	margin-bottom: 10px;
}

.field-invalid {
	border: 1px solid red;
}

.field-valid {
	border: 1px solid green;
}

.tooltip-inner {
	width: 150px;
}

.sm-dialog {
	width: 35%;
}

#error, #forgotError, #googleError, #bitbucketError, #githubError {
	color: red;
	text-align: left;
	margin-bottom: 5px;
}

#newp {
	margin-top: 100px;
	color: black;
	font-size: 18px;
}

#newPasswordForm {
	width: 20%;
	margin: 0 auto;
}

#gotomain {
	text-decoration: none;
	margin-top: -10px;
}

.social-login-btn {
	margin: 5px;
	width: 20%;
	font-size: 250%;
	padding: 0;
}

.social-google {
	background-color: #da573b;
	border-color: #be5238;
}

div#preloader {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	overflow: visible;
	background: #333 url('http://files.mimoymima.com/images/loading.gif')
		no-repeat center center;
}

#google-icon, #bitbucket-icon, #github-icon{
	width: 100px;
	height: 100px;
}