.chat-ava {
	display: block;
	width: 50px;
	height: auto;
	padding: 5px;
}

.chat-ava img {
	width: 100%;
	border-radius: 0.25rem;
}

.not-card {
	border-top: 2px solid blue;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dotted #B3A9A9;
}

.card-review {
	border-top: 2px solid green;
}

.user-on-review, .user-on-review:hover {
	color: green;
}

.not-summary {
	margin: 0em;
	font-size: 1em;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.87);
}

.not-date {
	display: inline-block;
	float: none;
	font-weight: normal;
	font-size: 0.7em;
	font-style: normal;
	margin: 0em 0em 0em 0.5em;
	padding: 0em;
	color: rgba(0, 0, 0, 0.4);
}

.not-meta {
	font-size: 0.85714286em;
	margin: 0.5em 0em 0em;
	background: none;
	border: none;
	border-radius: 0;
	box-shadow: none;
	padding: 0em;
	color: rgba(0, 0, 0, 0.6);
}

.not-user {
	display: inline-block;
	font-weight: bold;
	margin-right: 0em;
	vertical-align: baseline;
}

.not-filter {
	margin-top: 20px;
	padding-bottom: 20px;
	padding-right: 25px;
}

.not-meta-info {
	padding-top: 10px;
}

.card-issue {
	border-top: 2px solid #DB2828;
}

.user-on-issue {
	color: #DB2828;
}

.main-not {
	margin-left: 5px;
}

.card-file{
    border-top: 2px solid #F2711C;
}

.user-on-file{
    color: #F2711C;
}

.files{
    padding-left:65px;
}

.card-reply{
    border-top: 2px solid #FBBD08;
}

.user-on-reply{
    color: #FBBD08;
}

.overflow-text {
    width: 100%;
    margin: 0 0 2em 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
blockquote{
	margin-top: 10px;
	margin-left: 10px;
}

.not-ancor{
	color: black !important;
	text-decoration: underline;
}