.inside-table, .inside-table tr, .inside-table td {
    border: 0 !important;
}
.table tr, .table td {
    vertical-align: middle !important;
}
.table {
    margin-bottom: 0 !important;
}

#add_users_panel .modal-title {
    color: #8A8A8A;
    font-size: 20px;
}

#review_users_selector .custom-header {
    text-align: center;
    font-weight: bold;
}

#review_users_selector .ms-container {
    width: auto;
    margin: 0 auto;
}

#review_users_selector .ms-container .ms-selectable li.ms-hover, .ms-container .ms-selection li.ms-hover {
    color: #fff;
    background-color: #23cc87;
}

body.modal-open {
    overflow-y: auto !important;
    padding-right: 0 !important;
}

.modal.fade.in {
    padding-right: 0 !important;
}

.progress {
    height: 25px !important;
}

.progress .progress-bar {
    line-height: 25px !important;
}

#select-issue-type .issue-sign {
    font-size: 14px !important;
}

/*For marks*/
.mark-parent {
    margin-top: 5px;
    margin-bottom: 5px;
    display: table;
}

.mark-parent .mark-name {
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    color: white;
    padding-left: 5px;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}

.mark-parent .mark-progress {
    display: table-cell;
    height: 25px;
    line-height: 25px;
}

.mark-parent .mark-value {
    display: table-cell;
    padding-left: 5px;
}

.mark-a {
    background: #26D598 !important;
}
.mark-a:hover {
    background: #27c383 !important;
}
.mark-b {
    background: #61D36C !important;
}
.mark-b:hover {
    background: #64c364 !important;
}
.mark-c {
    background: #BFCF2B !important;
}
.mark-c:hover {
    background: #aebe2b !important;
}
.mark-d {
    background: #F1C410 !important;
}
.mark-d:hover {
    background: #e1b310 !important;
}
.mark-e {
    background: #FA8F25 !important;
}
.mark-e:hover {
    background: #e67726 !important;
}
.mark-f {
    background: #FB6050 !important;
}
.mark-f:hover {
    background: #e66252 !important;
}

/*end For marks*/
