.holder-issue {
    padding-bottom: 10px;
    width: 1000px;
}

#issues_tab_content .syntaxhighlighter {
    overflow-y: hidden !important;
    overflow-x: auto !important;
    display: block !important;
    margin-top: 5px !important;
    margin-bottom: 0 !important;
}

#issues_tab_content .show_issue .panel p {
    margin: 0;
    word-wrap: break-word;
}

#issues_tab_content .show_issue .panel .panel-body .collapse {
    word-wrap: break-word;
}

#issues_tab_content .show_issue .panel {
    margin: 0 !important;
    background-color: #fff !important;
    border-radius: 4px !important;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05) !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

#issues_tab_content .show_issue .panel-body {
    padding: 0 5px !important;
    color: rgba(0, 0, 0, 0.7) !important;
}

#issues_tab_content .show_issue .panel-heading {
    padding: 5px !important;
    border: 0 !important;
    padding-bottom: 0 !important;
}

#issues_tab_content .show_issue .panel-warning {
    border: solid 1px rgba(255, 167, 38, 0.6) !important;
}

#issues_tab_content .show_issue .panel-warning .panel-heading {
    background: rgba(255, 167, 38, 0.6) !important;
    color: rgba(130, 64, 23, 0.73);
}

#issues_tab_content .show_issue .panel-warning .panel-body {
    background: rgba(255, 167, 38, 0.6) !important;
}

#issues_tab_content .show_issue .panel-danger {
    border: solid 1px rgba(239, 83, 80, 0.6) !important;
}

#issues_tab_content .show_issue .panel-danger .panel-heading {
    background: rgba(239, 83, 80, 0.6) !important;
}

#issues_tab_content .show_issue .panel-danger .panel-body {
    background: rgba(239, 83, 80, 0.6) !important;
}

#issues_tab_content .show_issue .panel-info {
    border: solid 1px rgba(41, 182, 246, 0.6) !important;
}

#issues_tab_content .show_issue .panel-info .panel-heading {
    background: rgba(41, 182, 246, 0.6) !important;
}

#issues_tab_content .show_issue .panel-info .panel-body {
    background: rgba(41, 182, 246, 0.6) !important;
}

span.issue-file-path {
    font-weight: bold;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 10px;
    display: inline-block;
    color: #767676;
}