.commentArea{
	margin-top: 10px;
	
	width:700px;
	height:50px;
	min-height:200px;
    display: table-cell;
    position: relative;
     -moz-user-select: text;
}

.comments-block {
	padding: 5px;
}


a.comment-action {
	margin-left:5px !important;
}

.reply-ava {
	float:left;
	display: block;
	width: 40px;
	height: auto;
	padding: 5px;
}

.reply-ava img {
	width: 100%;
	border-radius: 0.25rem;
}

.comment .content{
	font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

.comments-block {
	max-height: 300px;
	overflow: auto;
}

.ui.comments {
    margin: 0px auto;
    max-width: 650px;
}


.comments-block::-webkit-scrollbar {
	width: 5px;
}

.comments-block::-webkit-scrollbar-button {
	width: 8px;
	height: 5px;
}

.comments-block::-webkit-scrollbar-track {
	background: #eee;
	border: thin solid lightgray;
	box-shadow: 0px 0px 3px #dfdfdf inset;
	border-radius: 10px;
}

.comments-block::-webkit-scrollbar-thumb {
	background: #999;
	border: thin solid gray;
	border-radius: 10px;
}

.comments-block::-webkit-scrollbar-thumb:hover {
	background: #7d7d7d;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color: #fff;
    text-decoration: none;
        background-color: rgba(84, 177, 185, 0.79) !important;
    outline: 0;
    }

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
	background-image: none !important;
    background-repeat: repeat-x;
}