a {
    cursor: pointer;
}

input:disabled, button:disabled, a:disabled {
    cursor: progress !important;
}

a.read_more {
    font-size: 12px;
}

a.underlined:hover {
    text-decoration: underline !important;
}

#review-header span.h2 {
    font-size: 1.714rem;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    line-height: 1.2857em;
    font-weight: bold;
}
#review-header span.h4 {
    font-size: 1.071rem;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    line-height: 1.2857em;
    font-weight: bold;
}

/*Tabs*/
.nav-tabs {
    border-bottom: 0 !important;
}

.tabs-menu, .file-selected, #tabs_menu {
    padding-left: 0;
    padding-right: 0;
}

.file-selected {
    line-height: 1.4285em;
    font-size: 15px;
    padding: 10px 5px;
}

#tabs_menu {
    border-bottom: solid 1px #DDDDDD;
}
/*end Tabs*/

/*Code panel, tree panel basics*/
.panel-body form {
    margin-bottom: 0;
}

#tab_content {
    min-height: 100%;
    height: 100%;
}

#file_message {
    text-align: center;
}

.vsplitbar {
    width: 5px;
    background: transparent;
}

.vsplitbar:hover {
    background: rgba(191,191,191,0.3);;

}

.simple-splitter {
    min-height: 100%;
    width: 100%
    /*width: 97%*/
}

#tree_panel {
    min-width: 100px;
}

#code_panel {
    min-width: 600px;
}

#code_panel, #tree_panel, .vsplitbar {
    min-height: 97% !important;
    height: 97% !important;
    margin-top: 10px !important;
    margin-bottom: 0 !important;
}

#code_panel, #tree_panel {
    overflow: auto !important;
}
/* Scroll style */
#tree_panel::-webkit-scrollbar-thumb, #code_panel::-webkit-scrollbar-thumb {
    border-radius: 12px;
    border: 2px solid rgba(255,255,255,0);
    background-clip: content-box;
    background-color: #bfbfbf;
}
#tree_panel::-webkit-scrollbar-corner, #code_panel::-webkit-scrollbar-corner {
    background-color: #fff;
}
#tree_panel::-webkit-scrollbar, #code_panel::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
    height: 8px;
    background-color: #fff;
}
/*end Code panel, tree panel basics*/

.issue_title {
    font-size: 16px !important;
    font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-weight: bold;
}

.show_issue .panel-body {
    font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*Tree*/

.ui.label.issues-count-label {
    margin-left: 10px !important;
    margin-right: 5px !important;
    display: inline !important;
    padding: 2px 8px !important;
}

.treeview i.tree-indicator.fa {
    display: inline; /*important for show folder and name in line*/
}

.treeview ul {
    margin-left: 0.6em;
}

.treeview ul li {
    margin-right: -10px;
}

.treeview ul li a:hover {
    text-decoration: underline;
}

.treeview ul:before {
    border-left: 1px solid #BCBCBC;
}

.treeview ul li:before {
    border-top: 1px solid #BCBCBC;
}

.treeview i.tree-indicator {
    color: #BD9662;
    width: 22px;
    font-size: 20px;
}

.treeview li a {
    color: black;
    font-weight: 100;
}

.treeview ul li a:hover {
    text-decoration: none;
}

.treeview .tree-indicator {
    margin-left: 0;
}

.treeview ul li {
    padding-left: 20px;
}

/*Code-snippet scroll panel*/
.syntaxhighlighter {
    overflow-y: hidden !important;
    overflow-x: hidden !important;
    display: inline;
}

/*Code selection*/
#code_panel .syntaxhighlighter .code .container .line.alt2::selection,
#code_panel .syntaxhighlighter .code .container .line.alt1::selection,
#code_panel .syntaxhighlighter .code .container .line code::selection,
#code_panel .syntaxhighlighter .gutter .line.alt2::selection,
#code_panel .syntaxhighlighter .gutter .line.alt1::selection {
    background: transparent !important;
    color: inherit !important;
}

#code_panel .syntaxhighlighter .code .container .line.alt2.highlight2,
#code_panel .syntaxhighlighter .code .container .line.alt1.highlight2 {
    background: #E0E0E0 !important;
    /*background: rgba(116, 255, 151, 0.56) !important;*/
}

#code_panel .syntaxhighlighter .code .container::selection,
#code_panel .syntaxhighlighter .code .container::-moz-selection {
    background-color: transparent;
}

/*Block for creation issue*/
#code_panel .syntaxhighlighter .code .issue {
    width: 700px !important;
}

.syntaxhighlighter .show_issue .panel p {
    margin: 0;
    word-wrap: break-word;
}

.syntaxhighlighter .show_issue .panel .panel-body .collapse {
    word-wrap: break-word;
}

.syntaxhighlighter .show_issue .panel {
    margin: 0 !important;
    background-color: #fff !important;
    border-radius: 4px !important;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05) !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

.syntaxhighlighter .show_issue .panel-body {
    padding: 5px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    color: rgba(0, 0, 0, 0.7) !important;
}

.syntaxhighlighter .show_issue .panel-heading {
    padding: 5px !important;
    border: 0 !important;
    padding-bottom: 0 !important;
}

.syntaxhighlighter .show_issue .panel-warning {
    border: solid 1px rgba(255, 167, 38, 0.6) !important;
}

.syntaxhighlighter .show_issue .panel-warning .panel-heading {
    background: rgba(255, 167, 38, 0.6) !important;
    color: rgba(130, 64, 23, 0.73);
}

.syntaxhighlighter .show_issue .panel-warning .panel-body {
    background: rgba(255, 167, 38, 0.6) !important;
}

.syntaxhighlighter .show_issue .panel-danger {
    border: solid 1px rgba(239, 83, 80, 0.6) !important;
}

.syntaxhighlighter .show_issue .panel-danger .panel-heading {
    background: rgba(239, 83, 80, 0.6) !important;
}

.syntaxhighlighter .show_issue .panel-danger .panel-body {
    background: rgba(239, 83, 80, 0.6) !important;
}

.syntaxhighlighter .show_issue .panel-info {
    border: solid 1px rgba(41, 182, 246, 0.6) !important;
}

.syntaxhighlighter .show_issue .panel-info .panel-heading {
    background: rgba(41, 182, 246, 0.6) !important;
}

.syntaxhighlighter .show_issue .panel-info .panel-body {
    background: rgba(41, 182, 246, 0.6) !important;
}

.btn:focus {
    outline: none;
    color: white;
}

/*.btn:focus:hover {*/
/*outline: none;*/
/*}*/

.btn-icon {
    padding: 2px 5px !important;
}

.btn-icon:hover {
    color: black;
}

.btn:hover {
    border: 0;
}

.btn.btn-danger {
    color: white;
    text-shadow: 0 1px 0 #fff;
    background: #EF5350 !important;
}

.btn.btn-danger:hover {
    color: white;
    background: #D32F2F !important;
}

.btn.btn-warning {
    background: #FFA726 !important;
}

.btn.btn-warning:hover {
    color: white;
    background: #FB8C00 !important;
}

.btn.btn-info {
    background: #29B6F6 !important;
}

.btn.btn-info:hover {
    color: white;
    background: #039BE5 !important;
}

.btn.btn-default {
    background: #BDBDBD !important;
}

.btn.btn-default:hover {
    color: white;
    background: #9E9E9E !important;
}

.issue-sign {
    font-size: 16px !important;
    padding-right: 5px;
}

.fa-exclamation-circle {
    color: #D32F2F !important;
}

.fa-exclamation-triangle {
    color: #FB8C00 !important;
}

.fa-info-circle {
    color: #039BE5 !important;
}

.syntaxhighlighter #create_issue .panel {
    margin: 0 !important;
    background-color: #fff !important;
    border-radius: 4px !important;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05) !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

.syntaxhighlighter #create_issue .panel-default {
    border-color: #BDBDBD !important;
}

.syntaxhighlighter #create_issue .panel-default .panel-body {
    padding: 5px !important;
    position: relative !important;
    background-color: rgba(238, 238, 238, 0.25) !important;
}

.syntaxhighlighter #create_issue .panel-default .panel-heading {
    padding: 5px 15px !important;
    color: #333;
    background: #BDBDBD !important;
    border-bottom: solid 1px #BDBDBD !important;
}

.syntaxhighlighter #create_issue .panel-default .panel-body .btn-group,
#issue_cancel_btn {
    margin-top: 15px !important;
}

#issue_cancel_btn {
    float: right;
}

#review-header {
    padding: 10px 0;
}

.ui.circular.labels .label, .ui.circular.label {
    min-height: 1em !important;
    line-height: 0.5em !important;
}

.issue.show_issue .ui.label {
    float: right;
    background-color: transparent !important;
    color: rgba(0, 0, 0, 0.6) !important;
    margin: 0;
    padding: 14px 0 0 10px;
}

/* Tooltip for title */
.syntaxhighlighter .tooltip > .tooltip-inner {
    background-color: rgba(148, 0, 0, 0.84);
    color: #FFFFFF;
    padding: 5px;
    font-size: 14px;
}

.syntaxhighlighter .tooltip.bottom > .tooltip-arrow {
    border-bottom: 5px solid #170000;
}

.circular.ui.icon.button {
    border: solid 1px transparent;
    color: white;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    padding: 7px 10px;
}
.circular.ui.icon.button:focus {
    border: solid 1px black;
}

#mark_panel .row {
    padding-bottom: 2px;
    margin: 0;
}



