.settings-title {
	margin-top: 30px;
}

.fields {
	margin-top: 10px;
}

.fieldsLabel {
	text-align: right;
}

.saveButton {
	margin-top: 40px;
	margin-bottom: 40px;
}

.tooltip-inner {
	width: 150px;
}

.all_notifications{
	color: black;
	margin-right: 10px;
	cursor: pointer;
}

.all_notifications:hover{
	text-decoration: underline;
	color: blue;
}

.ui.toggle.checkbox input{
	margin-left: 5px;
}

.progress-bar{
	padding-top: 10px;
	padding-bottom: 3px;
}

