#sidebar-wrapper {
	z-index: 1000;
	position: fixed;
	right: 0;
	bottom: 100px;
	width: 350px;
	height: 80%;
	margin-right: -350px;
	overflow-y: auto;
	background-color: white;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	-o-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}

.sidebar-nav {
	position: absolute;
	top: 0;
	width: 300px;
	margin: 0;
	padding: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	list-style: none;
}

#menu-toggle {
	z-index: 801;
	position: fixed;
	bottom: 15px;
	right: 15px;
}

#sidebar-wrapper.active {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0
		rgba(0, 0, 0, 0.12);
	border-radius: 3px;
	margin-right: 10px;
	width: 350px;
	bottom: 100px;
	-webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-ms-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

.toggle {
	margin: 5px 5px 0 0;
}

/*CUSTOM STYLES*/
.btn-circle.btn-xl {
	width: 70px;
	height: 70px;
	padding: 10px 16px;
	font-size: 24px;
	line-height: 1.33;
	border-radius: 35px;
}

#menu-toggle img {
	position: fixed;
	bottom: 20px;
	right: 30px;
	width: 50px;
}

#sidebar-wrapper::-webkit-scrollbar {
	width: 3px;
}

#sidebar-wrapper::-webkit-scrollbar-button {
	width: 8px;
	height: 5px;
}

#sidebar-wrapper::-webkit-scrollbar-track {
	background: #eee;
	border: thin solid lightgray;
	box-shadow: 0px 0px 3px #dfdfdf inset;
	border-radius: 10px;
}

#sidebar-wrapper::-webkit-scrollbar-thumb {
	background: #999;
	border: thin solid gray;
	border-radius: 10px;
}

#sidebar-wrapper::-webkit-scrollbar-thumb:hover {
	background: #7d7d7d;
}

.all-comments {
	list-style: none;
	margin: 0;
	padding: 0;
}

.author-right {
	padding-left: 5px;
	padding-right: 10px;
}

.all-comments li {
	padding: 5px;
	margin-bottom: 8px;
}

.chat-ava {
  display: block;
  width:50px;
  height:auto;
  float: left;
  margin: 0.2em 0em 0em;
}

.chat-ava img {
  display: block;
  margin: 0em auto;
  width:100%;
  border-radius: 0.25rem;
}