/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */




/* Toggle Styles */
 #sidebar-wrapper {
	position: absolute;
	width: 0;
	
	height:100%;
	
	
	margin-left : -200px;
	background: #212121;
	margin-left: -200px;
	padding-bottom:50px;
	

}

.row1 {
  display: flex !important; /* equal height of the children */
  min-height:90%;
}


#wrapper.toggled #sidebar-wrapper {
	width: 220px;
}

#page-content-wrapper {
	width: 100%;
}

/* Sidebar Styles */
.sidebar-nav {
	width: 220px;
	margin-left: 0;
	margin-right: 0;
	padding: 0;
	list-style: none;
}

.sidebar-nav li {
	
	line-height: 40px;
}

.sidebar-nav li a {
	text-indent: 20px;
	display: block;
	text-decoration: none;
	color: #FFFFFF;
}

.sidebar-nav li a:hover {
	text-decoration: none;
	color: #54B1B9;
	background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:focus {
	text-decoration: none;
	color: #FFF;
	background: #54B1B9;
}

.sidebar-nav>.sidebar-brand {
	height: 65px;
	font-size: 18px;
	line-height: 60px;
}

.sidebar-nav>.sidebar-brand a:hover {
	color: #fff;
	background: none;
}

@media ( min-width :768px) {
	#wrapper {
		padding-left: 200px;
	}
	#wrapper.toggled {
		padding-left: 0;
	}
	#sidebar-wrapper {
		width: 220px;
	}
	#wrapper.toggled #sidebar-wrapper {
		width: 0;
	}
	#page-content-wrapper {
		
	}
	#wrapper.toggled #page-content-wrapper {
		margin-right: 0;
	}
}