.alert-minimalist {
	background-color: #fff;
	border-color: rgba(149, 149, 149, 0.3);
	border-radius: 3px;
	color: rgb(149, 149, 149);
	padding: 10px;
}
.alert-minimalist > [data-notify="icon"] {
	height: 50px;
	margin-right: 12px;
}
.alert-minimalist > [data-notify="title"] {
	color: rgb(51, 51, 51);
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}
.alert-minimalist > [data-notify="message"] {
	font-size: 80%;
}
a.goToNewNotification:link {
    text-decoration: underline;
    color: #1a237e;
}

a.goToNewNotification:visited {
    text-decoration: underline;
}

a.goToNewNotification:hover {
    text-decoration: underline;
}

a.goToNewNotification:active {
    text-decoration: underline;
}

.overflow-text {
    width: 100%;
    margin-bottom:5px;
    margin-top:5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color:black !important;
}
